<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/css/login.css" rel = "stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <title>Login-GameOn</title>
</head>
<body>
    <main>
    <section class="iniciar-sesión">
        
        <form action="/" method="post">
            <h3>Iniciar sesión</h3>
            <button><i class="fa-brands fa-google"></i>Iniciar sesión por Google</button>
            <hr>
            <span class="texto-rayita">O bien por</span>
            <input class="controlar" type="email" name="email" id="email" placeholder="Email" pattern="[a-z-@]+">
            <input class="controlar" type="password" name="contrasena" id="password" placeholder="Contraseña" required="">
            <a href="#"><div class="olvidar-contraseña">He olvidado mi contraseña</div></a>
        <button class="boton" type="submit">Iniciar sesión</button>
        <hr>
        <span class="texto-rayita2">¿Eres nuevo cliente?</span>
        <button class="boton2" type="submit">Crear cuenta</button>
        </form>
        <hr class="linea-medio">
    <div class="mensaje">
        <span><i class="fa-solid fa-car-side fa-flip-horizontal"></i></span>
        <h5>Gestiona tus pedidos</h5>
        <div class="texto">Ten el control de todos tus pedidos y recibe notificaciones con el seguimiento</div>

        <span><i class="fa-solid fa-medal"></i></span>
        <h5 class="h5-2">Lista de deseos personalizada</h5>
        <div class="texto2">Guarda tus productos favoritos en las listas de deseos personalizadas</div>
    </div>
</section>

</main>
    
</body>
</html>