<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/index.js" defer></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href = "/css/register-2.css" rel = "stylesheet">
    <link href = "/css/index.css" rel = "stylesheet">
    <title>Register-GameOn</title>
</head>
<body>
    <header class="container">
		<div class="header">
			<a href="/">
				<div class="header__logo"><img src="img/logo_final.jpg" alt=""></div>
			</a>
			<div class="header__search-area">
				<form action="">
					<input class="search-area__search" type="text" name="search" id="search">
					<button class="search-area__button" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
			</div>
			<div class="header__menu-button">
				<i class="fa-solid fa-bars"></i>
			</div>
		</div>
		<div class="header__menu" data-visible="false">
			<ul>
				<li><a href="#">Productos</a></li>
				<li><a href="#">Arma tu PC</a></li>
			</ul>
			<ul>
				<li><a href="/login">Ingresar</a></li>
				<li><a href="/register">Registrarse</a></li>
				<li><a href="/productCart">Mi Carrito</a></li>
			</ul>
		</div>
		<div class="header__rgb-bar"></div>
	</header>
    <main class="container">
    <section class="registro">
        <h2>Registro de usuario</h2>
        <hr>

        <form action="/" method="post">
            <input class="controlar" type="email" name="email" id="email" placeholder="Email" pattern="[a-z-@]+">
            <input class="controlar" type="password" name="contrasena" id="password" placeholder="Contraseña" required="">
            <input class="controlar" type="password" name="Confirmacion" id="password2" placeholder="Confirmar Contraseña" required="">

        <div>Informacion Personal</div>

            <input class="controlar" type="text" name="nombre" id="nombre" placeholder="Nombre" required="">
            <input class="controlar" type="text" name="apellido" id="apellido" placeholder="Apellido" required="">
            <input class="controlar" type="number" name="dni" id="dni" placeholder="Numero de DNI (opcional)">
            <input class="controlar" type="number" name="telefono" id="telefono" placeholder="Numero de telefono (opcional)">

        <button class="boton" type="submit">Enviar</button>
        </form>
    </section>

    <div class="mensaje">
        <h4>Recordá:</h4>
    <hr>
    Es muy importante que coloques todos tus datos reales a la hora de registrar tu cuenta.
    Ante cualquier inconveniente vamos a estar comunicándonos con vos por teléfono o vía email.
    </div>
    </main>
    <footer class="container">
        <section class="footer">
            <article>
                <h3>Contactanos</h3>
                <p>Telefono: +54 123 1234567</p>
                <p>Direccion: Av. Nosequeponer, Piso -1, Caldo de Pollo 3600 </p>
                <p></p>
            </article>
            <article>
                <h3>Nuestros horarios</h3>
                <p>De Lun. a Vie. de 08:30hs. a 17hs.</p>
                <!-- <p>Lunes 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Martes 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Miercoles 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Jueves 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Viernes 8:30 13:00 y de 17:00 21:00</p> -->
                <p>Sabado se duerme todo el dia</p>
            </article>
            <article>
                <h3>Ayuda</h3>
                <p>Te perdiste we? Toma un mapa</p>
            </article>
            <article>
                <h3>Seguinos en redes</h3>
                <a class="redes" href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a class="redes" href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="redes" href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="redes" href="#">
                    <i class="fa-brands fa-github"></i>
                </a>
            </article>
            <article>
                <h3>Defensa del consumidor</h3>
                <p>
                    Apa papa, queres problemas we?
                </p>
            </article>
        </section>
        <p class="copy">
            Copyright © 2023. Todos los derechos reservados,
            prohibida la reproduccion total o parcial de los contenidos
            de esta página.
        </p>
    </footer>
</body>
</html>