<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="/js/index.js" defer></script>
    <title>GAME ON! Componentes de PC</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main class="container">
        <section class="product">
            <section class="product-photos">
                <div class="product-photos__more-photos">
                    <img src="/img/product.jpg" alt="">
                    <img src="/img/product.jpg" alt="">
                    <img src="/img/product.jpg" alt="">
                    <img src="/img/product.jpg" alt="">
                </div>
                <div class="product-photos__main-photo">
                    <img src="/img/product.jpg" alt="">
                </div>
            </section>
            <section class="product__information">
                <p class="product__information__nombre-del-producto">NVIDIA ASUS Geforce RTX 3070 8GB TUF Gaming</p>
                <p class="product__information__precio-del-producto">$350.000</p>
                <div class="product__information__descripcion-del-producto">
                    <h3>La Jugada Definitiva</h3>
                    <p>
                        Las tarjetas gráficas GeForce RTX® 3070 Ti y RTX 3070 cuentan con Ampere, la arquitectura de 2.ª
                        generación de NVIDIA RTX. Te brindan la potencia para disfrutar sin problemas de los juegos más
                        exigentes, ya que incluyen los Núcleos RT de 2.ª generación y los Núcleos Tensor 3.ª generación
                        dedicados, multiprocesadores de transmisión y una memoria de alta velocidad.
                    </p>
                </div>
                <p class="product__information__stock-disponible">Stock disponible:<br>100 unidades</p>
                <section class="product__buttons">
                    <span>
                        <button class="product__buttons__comprar-ahora">Comprar ahora</button>
                        <button class="product__buttons__agregar-al-carrito">Agregar al carrito</button>
                    </span>
                </section>
            </section>
            <section class="product__characteristics">
                <p class="product__characteristics__características-título">Características del producto</p>
                <div class="product__characteristics__características-del-producto">
                    <p>Interfaz PCI-Express 4.0.</p>
                    <p>Bus de memoria: 256bit.</p>
                    <p>Cantidad de núcleos: 4864.</p>
                    <p>Resolución máxima: 7680x4320.</p>
                    <p>Compatible con directX y openGL.</p>
                    <p>Requiere de 750W de alimentación.</p>
                    <p>Con iluminación LED blanca.</p>
                    <p>Permite la conexión de hasta 4 pantallas simultáneas.</p>
                    <p>Formatos de conexión: HDMI, DisplayPort.</p>
                    <p>Incluye accesorios.</p>
                    <p>Ideal para trabajar a alta velocidad.</p>
                </div>
            </section>
        </section>
        <section class="related-products">
            <p class="related-products__título">Productos relacionados</p>
            <div class="related-products__more-products">
                <div class="related-products__more-products__nombre-del-producto">
                    <p >Nombre del producto</p>
                    <img src="/img/product.jpg" alt="">
                </div>
                <div class="related-products__more-products__nombre-del-producto">
                    <p >Nombre del producto</p>
                    <img src="/img/product.jpg" alt="">
                </div>
                <div class="related-products__more-products__nombre-del-producto">
                    <p >Nombre del producto</p>
                    <img src="/img/product.jpg" alt="">
                </div>
                <div class="related-products__more-products__nombre-del-producto">
                    <p >Nombre del producto</p>
                    <img src="/img/product.jpg" alt="">
                </div>
            </div>
        </section>
    </main>
    <footer class="container">
        <section class="footer">
            <article>
                <h3>Contactanos</h3>
                <p>Telefono: +54 123 1234567</p>
                <p>Direccion: Av. Nosequeponer, Piso -1, Caldo de Pollo 3600 </p>
                <p></p>
            </article>
            <article>
                <h3>Nuestros horarios</h3>
                <p>De Lun. a Vie. de 08:30hs. a 17hs.</p>
                <!-- <p>Lunes 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Martes 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Miercoles 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Jueves 8:30 13:00 y de 17:00 21:00</p> -->
                <!-- <p>Viernes 8:30 13:00 y de 17:00 21:00</p> -->
                <p>Sabado se duerme todo el dia</p>
            </article>
            <article>
                <h3>Ayuda</h3>
                <p>Te perdiste we? Toma un mapa</p>
            </article>
            <article>
                <h3>Seguinos en redes</h3>
                <a class="redes" href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a class="redes" href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="redes" href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="redes" href="#">
                    <i class="fa-brands fa-github"></i>
                </a>
            </article>
            <article>
                <h3>Defensa del consumidor</h3>
                <p>
                    Apa papa, queres problemas we?
                </p>
            </article>
        </section>
        <p class="copy">
            Copyright © 2023. Todos los derechos reservados,
            prohibida la reproduccion total o parcial de los contenidos
            de esta página.
        </p>
    </footer>
</body>

</html>