<footer class="container">
	<section class="footer">
		<article>
			<h3>Contactanos</h3>
			<p class="help">Telefono: +54 123 1234567</p>
			<p class="help">Direccion: Av. Nosequeponer, Piso -1, Caldo de Pollo 4600 </p>
		</article>
		<article>
			<h3>Nuestros horarios</h3>
			<p class="help">De Lun. a Vie. de 08:30hs. a 17hs.</p>
			<!-- <p>Lunes 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Martes 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Miercoles 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Jueves 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Viernes 8:30 13:00 y de 17:00 21:00</p> -->
			<!-- <p>Sabado se duerme todo el dia</p> -->
			<p class="help">Sabados de 8:30hs. a 13hs.</p>
		</article>
		<article>
			<h3>Ayuda</h3>
			<!-- <p>Te perdiste we? Toma un mapa</p> -->
			<style>
				.help {
					margin: 0.5rem 0;
				}
			</style>
			<p class="help">Preguntas frecuentes</p>
			<p class="help">Términos y condiciones</p>
			<p class="help">Arrepentimiento de compra</p>
		</article>
		<article>
			<h3>Seguinos en redes</h3>
			<a class="redes" href="#">
				<i class="fa-brands fa-facebook"></i>
			</a>
			<a class="redes" href="#">
				<i class="fa-brands fa-twitter"></i>
			</a>
			<a class="redes" href="#">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a class="redes" href="#">
				<i class="fa-brands fa-github"></i>
			</a>
		</article>
		<article>
			<h3>Defensa del consumidor</h3>
			<p>
				<!-- Apa papa, queres problemas we? -->
				Para reclamos ingrese <a href="https://autogestion.produccion.gob.ar/consumidores">aqui</a>
			</p>
		</article>
	</section>
	<p class="copy">
		Copyright © 2023. Todos los derechos reservados,
		prohibida la reproduccion total o parcial de los contenidos
		de esta página.
	</p>
</footer>