<header class="container">
    <div class="header">
        <a href="/">
            <div class="header__logo"><img src="/img/logo_final.jpg" alt=""></div>
        </a>
        <div class="header__search-area">
            <form action="">
                <input class="search-area__search" type="text" name="search" id="search">
                <button class="search-area__button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="header__menu-button">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="header__menu" data-visible="false">
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Arma tu PC</a></li>
        </ul>
        <ul>
            <li><a href="/login">Ingresar</a></li>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/productCart">Mi Carrito</a></li>
        </ul>
    </div>
    <div class="header__rgb-bar"></div>
</header>