* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #10002B;
    color: #ffffff;
}

main {
    font-family: 'Roboto';
    font-weight: 100;
}

.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 20px;
}

.product-photos {

}

.product-photos__more-photos {
    display: flex;
    justify-content: space-between;
}

.product-photos__more-photos img{
    width: 20vw;
    border: 1px solid #000000;
}

.product-photos__main-photo {
   display: flex;
   margin-top: 20px;
}

.product-photos__main-photo img{
    width: 100%;
    border: 1px solid #000000;
}

.product__information {
    text-align: center;
}

.product__information p {
    margin: 20px 0px;
}

.product__information__nombre-del-producto {
    font-size: 25px;
    color: #E0AAFF;
}

.product__information__precio-del-producto {
    font-size: 35px;
    font-weight: bold;
}

.product__information__descripcion-del-producto {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(224, 170, 255, 0.5);
    padding: 30px;
    border-radius: 30px;
}

.product__information__stock-disponible {
    font-size: 35px;
    font-weight: bold;
}

.product__buttons {

}

.product__buttons form {
    display: flex;
    justify-content: space-evenly;
}

.product__buttons form button{
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-family: 'Roboto';
    font-weight: bold;
    background-color: #5A189A;
    color: #ffffff;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

.product__buttons form button:hover {
    background-color: #3C096C;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

.product__characteristics {
    text-align: center;
}

.product__characteristics__características-título {
    font-size: 25px;
    color: #E0AAFF;
    margin: 20px 0px;
}

.product__characteristics__características-del-producto {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(224, 170, 255, 0.5);
    padding: 30px;
    border-radius: 30px;
}

.related-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.related-products__título {
    font-size: 25px;
    color: #E0AAFF;
}

.related-products__more-products__nombre-del-producto {
    font-size: 15px;
    margin:20px 0px;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

.related-products__more-products__nombre-del-producto:hover {
    background-color: rgba(60, 9, 108,1);
    border-radius: 15px;
    padding: 15px;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

.related-products__more-products img {
    width: 70%;
}

@media (min-width: 426px){
    .product-photos {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .product-photos__more-photos {
        flex-direction: column;
        justify-content: space-between;
    }

    .product-photos__more-photos img {
        width: 15vw;
    }

    .product-photos__main-photo {
        width: 70%;
        margin: 0;
    }

    .product__buttons{
        width: 100%;
        max-width: 426px;
        margin: auto;
    }
    
    .product__buttons form button {
        padding: 30px;
    }

    .related-products__more-products {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .related-products__more-products__nombre-del-producto {
        width: 50%;
    }
}

@media (min-width: 1024px){
    .product {
        flex-direction: initial;
        align-items: center;
    }

    .product-photos {
        width: 50%;
    }

    .product__information {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
    }

    .related-products__more-products__nombre-del-producto {
        width: 25%;
    }

}

